:root {
    --bg: #0f172a;
    --panel: #111827;
    --text: #e5e7eb;
    --subtext: #9ca3af;
    --accent: #22c55e;
    --accent-hover: #16a34a;
    --border: #1f2933;
}

body {
    margin: 0;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
    background: radial-gradient(circle at top, #111827, #020617);
    color: var(--text);
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app {
    background: rgba(17, 24, 39, 0.8);
    backdrop-filter: blur(10px);
    border: 1px solid var(--border);
    border-radius: 16px;
    padding: 24px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.5);
    text-align: center;
}

h1 {
    margin: 0 0 16px;
    font-size: 1.5rem;
    font-weight: 600;
}

canvas {
    display: block;
    border-radius: 12px;
    border: 1px solid var(--border);
    background: black;
    margin-bottom: 16px;
}

#info {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#num-gens {
    margin: 0;
    font-size: 0.9rem;
    color: var(--subtext);
}

.controls {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 42px;
    height: 42px;

    padding: 0;
    border: none;
    background: var(--panel);
    color: var(--text);
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.1rem;

    transition: all 0.2s ease;
    border: 1px solid var(--border);
}

button:hover {
    background: var(--accent);
    color: black;
    transform: translateY(-1px);
}

button:active {
    transform: translateY(1px);
}

.hidden {
    display: none;
}

.draw-buttons {
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem ;
}

.draw-buttons input[type="radio"] {
    display: none;
}


.draw-buttons label {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 44px;

    border-radius: 10px;
    cursor: pointer;

    background: var(--panel);
    border: 1px solid var(--border);

    transition: all 0.2s ease;
}

.draw-buttons label i {
    font-size: 1.2rem;
    pointer-events: none;
}

.draw-buttons label:hover {
    background: var(--accent);
    color: black;
    transform: translateY(-1px);
}

.draw-buttons input[type="radio"]:checked + label {
    background: var(--accent);
    color: black;
    box-shadow: 0 0 10px rgba(34, 197, 94, 0.5);
}